* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top,  #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    font-size: 2.5rem;
}

h2, p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

.glass {
    background: white;
    -webkit-backdrop-filter: blur(1.5rem);
    backdrop-filter: blur(1.5rem);
    min-height: 80vh;
    width: 75%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;   
    z-index: 2; /*plus le chiffre es grand plus ce sera au premier plan*/
    display: flex;
}

.circle1,.circle2 {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8), 
        rgba(255, 255, 255, 0.3)
    );
    height: 25rem;
    width: 25rem;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}
.circle1 {
    top: 0%;
    right: 1%;
}
.circle2 {
    bottom: 3%;
    left: 5%;
}


/*Dashboard*/
.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    padding: 3rem;
}

.games {
    flex: 2;
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
    transform: scale(1);
    transition: all 300ms ease-in-out;
}
.link:hover {
    transform: scale(1.1);
}
.link h2 {
    padding: 0rem 2rem;
}

.pro {
    background: linear-gradient(to right top,  #65dfc9, #6cdbeb);
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    display: flex;
    transition: all 500ms;
}
.pro:hover {
    transform: translate(0, -2px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.pro img {
    margin-right: 1.3rem;
    height: 70px;
    width: 70px;
}
.pro h2 {
    margin-right: 1rem;
    margin-left: 1.3rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    align-items: center;
    color: white;
    font-weight: 600;
}


/*Games*/
.statut {
    margin-bottom: 3rem;
}
.statut input {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3)
    );
    border: none;
    border-radius: 2rem;
    width: 70%;
    padding: 0.5rem;
    outline: none;
}
.statut input:focus {
    border: 2px solid #658ec6;
}

.games {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    transform: scale(1);
    transition: all 500ms ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    height: 65px;
    width: 65px;
    flex: 1;
    margin-right: 3rem;
}

.progress-bar {
    margin-top: 1.3rem;
}
.progress-bar1 {
    background: linear-gradient(to right top,  #65dfc9, #6cdbeb);
    width: 60%;
    height: 25%;
    border-radius: 1rem;
}
.progress-bar2 {
    background: linear-gradient(to right top,  #65dfc9, #6cdbeb);
    width: 80%;
    height: 25%;
    border-radius: 1rem;
}
.progress-bar3 {
    background: linear-gradient(to right top,  #65dfc9, #6cdbeb);
    width: 40%;
    height: 25%;
    border-radius: 1rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 5;
}
.card-info h2 {
    margin-bottom: 0.3rem;
}

.pourcentage {
    font-weight: bold;
}